@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.ttf') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}